.color-white {
  color: white !important;
}
.color-dark-blue {
  color: $dark-blue !important;
}

.border-color-dark-blue {
  border-color: $dark-blue !important;
}

.color-blue {
  color: $blue-lv-3 !important;
}